In [1]:
import torch
from nl2sql.dataloader import DataTransformer
from nl2sql.predictor import SequencePredictor
from nl2sql.model import NL2SQL
import os
import pickle
from nl2sql.predictor import SequencePredictor
import pandas as pd
import re

os.chdir('/home/project')

def format_sql(sels, aggs):
    sql = "SELECT {agg}({col}) FROM t1"
    return [sql.format(agg=agg, col=sel) for agg, sel in zip(aggs, sels)]


def sub_find(x):
    x = re.sub('franchisee', 'franchise', x, flags=re.IGNORECASE)
    return x


def sub_cols(xs):
    xs = list(map(lambda x: re.sub('ACCT', 'account', x, flags=re.IGNORECASE), xs))
    return xs


df = pd.read_csv('nl2sql/Sony_test_data.csv')
df.header = df.header.apply(lambda x: sub_cols(eval(x)))

# if not ran:

# ran = True

Using TensorFlow backend.

In [2]:
datatransformer = pickle.load(open('data/datatransformer_all.pic', 'rb'))
model = torch.load("data/training/models/NL2SQL18e:5.pt")

predictor = SequencePredictor(model, datatransformer)

# questions = ['Find the Distinct count of game names for RPG genre',
#        'Find the number of games for RPG and Adventure genre',
#        'Find the number of distinct Title_ID for Horizon Zero Dawn', # working
#        'Find the Number of games under franchise 125690',
#        'FIND TOTAL PLAYTIME FOR GAME_NAME_ID = 123456',  # wrong headers
#        'FIND TOTAL NUMBER OF ACCOUNTS WHO PLAYED GAME_NAME_ID = 123456', #wrong headers
#        'FIND TOTAL NUMBER OF ACCOUNTS WHO PLAYED ON DATE = 11/20/2018',
#        'Find total revenue for the title whose title_id=118444 in US.  ',
#        'Find number of accounts in region 4 ',
#        'Find total sales for the title whose title_id=118444',
#        'find the count of accounts of who made transaction on 11/26/2018.',
#        'How many distinct trophy id are there for trophy name Battle for Control',
#        "List of trophies that are marked under title is 13333",
#        'What is the trophy_type of trophy name is Ballerina',
#        'How many franchise names are present for franchise name id 75230',
#        'How many distinct Game names are present for franchise name id 75230',
#        'How many franchise names are present for Party Type 3 rd Party',
#        'What is/are the game genre(s) for franchise name id 75230']
# # questions = list(map(sub_find, df.question))
# headers = df.header

# preds = predictor.predict(questions, headers)
# import pprint
# pprint.pprint(dict(zip(questions, preds)))

In [3]:
import pprint
# pprint.pprint(dict(zip(questions, preds)))
preds = predictor.predict([
        'what notes are used in Australia ? ',
        'tell me the largest state in India?',
        'tell me the size of state west bengal?',
        # 'what is the minimum pay?',

        'what is the average compensation for a data scientist? ',
        'What is the max gross weight of the Robinson R-22?',
        'What is the format for South Australia?',
        'Name the background colour for the Australian Capital Territory',
        'how many times is the fuel propulsion is cng?',
        'what is the fuel propulsion where the fleet series (quantity) is 310-329 (20)?',
        'who is the manufacturer for the order year 1998?',
        'how many times is the model ge40lfr?',
        'how many times is the fleet series (quantity) is 468-473 (6)?',
        'what is the powertrain (engine/transmission) when the order year is 2000?',
        'What if the description of a ch-47d chinook?',
        'What is the max gross weight of the Robinson R-22?',
        'What school did player number 6 come from?',
        'What school did the player that has been in Toronto from 2012-present come from?',
        'What school did the player that has been in Toronto from 2010-2012 go to?',
        'What position did the player from Baylor play?',
        'Who played in the Toronto Raptors from 1995-96?',
        "Which number was Patrick O'Bryant?",
        "What school did Patrick O'Bryant play for?",
        'How many number does Fordham school have?',
        'Which school was in Toronto in 2001-02?',
        'Which school did the player that played 2004-05 attend?',
        'Which position does Loren Woods play?'],
        [['currency', 'area', 'population', 'country'],
        ['state_name', 'state_area', 'population', 'country'],
         ['state_name', 'state_area', 'population', 'country'],
        ['salary', 'age', 'sex', 'designation', 'date of joining', 'address'],
        ['Aircraft', 'Description', 'Max Gross Weight', 'Total disk area', 'Max disk Loading'],
        ['State/territory', 'Text/background colour', 'Format', 'Current slogan', 'Current series', 'Notes'],
        ['State/territory', 'Text/background colour', 'Format', 'Current slogan', 'Current series', 'Notes'],
        ['Order Year', 'Manufacturer', 'Model', 'Fleet Series (Quantity)', 'Powertrain (Engine/Transmission)', 'Fuel Propulsion'],
        ['Order Year', 'Manufacturer', 'Model', 'Fleet Series (Quantity)', 'Powertrain (Engine/Transmission)', 'Fuel Propulsion'],
        ['Order Year', 'Manufacturer', 'Model', 'Fleet Series (Quantity)', 'Powertrain (Engine/Transmission)', 'Fuel Propulsion'],
        ['Order Year', 'Manufacturer', 'Model', 'Fleet Series (Quantity)', 'Powertrain (Engine/Transmission)', 'Fuel Propulsion'],
        ['Order Year', 'Manufacturer', 'Model', 'Fleet Series (Quantity)', 'Powertrain (Engine/Transmission)', 'Fuel Propulsion'],
        ['Order Year', 'Manufacturer', 'Model', 'Fleet Series (Quantity)', 'Powertrain (Engine/Transmission)', 'Fuel Propulsion'],
        ['Aircraft', 'Description', 'Max Gross Weight', 'Total disk area', 'Max disk Loading'],
        ['Aircraft', 'Description', 'Max Gross Weight', 'Total disk area', 'Max disk Loading'],
        ['Player', 'No.', 'Nationality', 'Position', 'Years in Toronto', 'School/Club Team'],
        ['Player', 'No.', 'Nationality', 'Position', 'Years in Toronto', 'School/Club Team'],
        ['Player', 'No.', 'Nationality', 'Position', 'Years in Toronto', 'School/Club Team'],
        ['Player', 'No.', 'Nationality', 'Position', 'Years in Toronto', 'School/Club Team'],
        ['Player', 'No.', 'Nationality', 'Position', 'Years in Toronto', 'School/Club Team'],
        ['Player', 'No.', 'Nationality', 'Position', 'Years in Toronto', 'School/Club Team'],
        ['Player', 'No.', 'Nationality', 'Position', 'Years in Toronto', 'School/Club Team'],
        ['Player', 'No.', 'Nationality', 'Position', 'Years in Toronto', 'School/Club Team'],
        ['Player', 'No.', 'Nationality', 'Position', 'Years in Toronto', 'School/Club Team'],
        ['Player', 'No.', 'Nationality', 'Position', 'Years in Toronto', 'School/Club Team'],
        ['Player', 'No.', 'Nationality', 'Position', 'Years in Toronto', 'School/Club Team'],])
#                      ['fighter_id', 'weight', 'wins', 'losses', 'origin'],
        

pprint.pprint(preds)

["SELECT (currency) FROM t1 WHERE country = 'australia'",
 "SELECT MAX (state_area) FROM t1 WHERE country = 'india'",
 "SELECT (state_area) FROM t1 WHERE state_name = 'west bengal'",
 "SELECT AVG (salary) FROM t1 WHERE designation = 'scientist'",
 "SELECT (Max Gross Weight) FROM t1 WHERE Aircraft = 'robinson r-22'",
 "SELECT (Format) FROM t1 WHERE State/territory = 'south australia'",
 "SELECT (Text/background colour) FROM t1 WHERE State/territory = 'capital "
 "territory'",
 "SELECT COUNT (Fleet Series (Quantity)) FROM t1 WHERE Fuel Propulsion = 'cng'",
 "SELECT (Fuel Propulsion) FROM t1 WHERE Fleet Series (Quantity) = '310-329 "
 "(20'",
 "SELECT (Manufacturer) FROM t1 WHERE Order Year = '1998'",
 "SELECT COUNT (Manufacturer) FROM t1 WHERE Model = 'ge40lfr'",
 "SELECT COUNT (Order Year) FROM t1 WHERE Fleet Series (Quantity) = '468-473 "
 "(6'",
 "SELECT (Powertrain (Engine/Transmission)) FROM t1 WHERE Order Year = '2000'",
 "SELECT (Description) FROM t1 WHERE Aircraft = 'ch-47d chinook'",
 "SELECT (Max Gross Weight) FROM t1 WHERE Aircraft = 'robinson r-22'",
 "SELECT (School/Club Team) FROM t1 WHERE No. = '6'",
 "SELECT (School/Club Team) FROM t1 WHERE Years in Toronto = '2012-present'",
 "SELECT (School/Club Team) FROM t1 WHERE Years in Toronto = '2010-2012'",
 "SELECT (Position) FROM t1 WHERE School/Club Team = 'baylor'",
 "SELECT (Player) FROM t1 WHERE Years in Toronto = '1995-96'",
 "SELECT (No.) FROM t1 WHERE Player = 'patrick o'bryant'",
 "SELECT (School/Club Team) FROM t1 WHERE Player = 'patrick o'bryant'",
 "SELECT COUNT (No.) FROM t1 WHERE School/Club Team = 'fordham'",
 "SELECT (School/Club Team) FROM t1 WHERE Years in Toronto = '2001-02'",
 "SELECT (School/Club Team) FROM t1 WHERE Years in Toronto = '2004-05'",
 "SELECT (Position) FROM t1 WHERE Player = 'loren woods'"]

### Unseen examples test

In [4]:
predictor.predict(*[['which notes used in Australia ? '], [['currency', 'area', 'population', 'country']]])

["SELECT (currency) FROM t1 WHERE country = 'australia'"]

In [5]:
predictor.predict(*[['what is the size of karnataka?'], [['state_name', 'state_area', 'population', 'country']]])

["SELECT (state_area) FROM t1 WHERE state_name = 'karnataka'"]

In [6]:
predictor.predict(*[['tell me the largest state in United States?'], [['state_name', 'state_area', 'population', 'country']]])

["SELECT MAX (state_area) FROM t1 WHERE country = 'united states'"]

In [7]:
predictor.predict(*[['find titles id for fifa'], [['TITLE_NAME', 'TITLE_ID', 'GAME_NAME', 'START_DATE', 'TIME_PLAYED']]])

["SELECT (TITLE_ID) FROM t1 WHERE GAME_NAME = 'fifa'"]

In [8]:
predictor.predict(*[['find total number of games for genre RPG'], [['TITLE_ID', 'FRANCHISE_NAME', 'GAME_NAME', 'SUPER_TITLE_NAME_ID', 'SUPER_TITLE_NAME', 'GAME_GENRE', 'PARTY_TYPE_ID', 'PARTY_TYPE', 'GLOBAL_SERVICE_PROVIDER_ID']]])

["SELECT COUNT (GAME_NAME) FROM t1 WHERE GAME_GENRE = 'rpg'"]

In [292]:
predictor.predict(*[['FIND TOTAL NUMBER OF ACCOUNTS WHO PLAYED ON DATE = 12/20/2018'], [['GAME_PLAY_SESSION_ID', 'SESSION_START_UTC_DTTM', 'SESSION_START_UTC_DT_ID', 'SESSION_START_RHQ_DT_ID', 'SESSION_START_LOCATION_DT_ID', 'SESSION_START_UTC_TIME_ID', 'SESSION_START_LOCATION_TIME_ID', 'DEVICE_ID', 'DEVICE_TYPE_ID', 'IP_GEO_LOCATION_ID', 'SESSION_START_account_ID', "ACCOUNT_NAME"]]]
)

['SELECT COUNT (ACCOUNT_NAME) FROM t1 WHERE SESSION_START_UTC_DTTM = 12/20/2018']

In [280]:
predictor.predict(*[['what is the total quantity in december-2018 ?'], [['units', 'month_year', 'selling price']]])

['SELECT SUM (units) FROM t1 WHERE month_year = december-2018']

In [257]:
predictor.predict(*[['what size of Australia ? '], [['currency', 'area', 'population', 'country']]])

['SELECT (area) FROM t1 WHERE country = australia']

In [271]:
predictor.predict(*[['tell me employees whose attendance was less than 10 in December 2018 ?'], [['employee_name', 'attendance', 'month_year']]])

['SELECT (employee_name) FROM t1 WHERE attendance < 10 AND month_year = december 2018']

In [277]:
predictor.predict(*[['find maximum damage per second hero for tank type and has a shield ?'], [['hero_type', 'damage_per_second', 'has_shield', 'hero_name', 'can fly', 'has_long_range_weapon']]])

['SELECT MAX (damage_per_second) FROM t1 WHERE hero_type = tank AND has_shield']

In [197]:
predictor.predict(*[['which party ran for 2018'], [['party_name', 'year', 'seats', 'votes']]])

['SELECT (party_name) FROM t1 WHERE year = 2018']